{% extends 'base.html' %} 

{% block content %}
<style>
    .custom-table {
        border-collapse: collapse;
    }

    .custom-table td,
    .custom-table th {
        border: none;
    }
</style>

<div class="container">
    <h1 class="mt-5">Add New Product</h1>

    <form method="POST" class="mt-4">
        {% csrf_token %}
        <table class="table custom-table">
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Add Product" class="btn btn-primary"/>
                </td>
            </tr>
        </table>
    </form>
</div>



{% endblock %}