{% extends 'base.html' %}

{% block content %}
    <h1>Shopping List Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>
    <div class="notification">
        Kamu menyimpan {{ jumlah_item }} item pada aplikasi ini.
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.description}}</td>
                <!-- Tambah jumlah stok -->
                <td><form method="POST" action="{% url 'main:tambah_stok' item.id %}">
                    {% csrf_token %}
                    <button type="submit">Tambah</button>
                </form></td>

                <!-- Kurangi jumlah stok -->
                <td><form method="POST" action="{% url 'main:kurangi_stok' item.id %}">
                    {% csrf_token %}
                    <button type="submit">Kurangi</button>
                </form></td>

                <td><form method="POST" action="{% url 'main:hapus_item' item.id %}">
                    {% csrf_token %}
                    <button type="submit">Hapus</button>
                </form></td>

            </tr>
        {% endfor %}
    </table>
    
    <br />
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
    </a>
    
{% endblock content %}